$colorPrimary: #fff;

.btn{
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  border: none {
    radius:2px;
  }
  &--primary{
    background-color: $colorPrimary;
    color: #242424;
    border: 1px solid $colorPrimary;
  }
  &--outline{
    background-color: transparent;
    color: $colorPrimary;
    padding: 8px 20px;
    border: 1px solid $colorPrimary;
    transition: all 0.3s ease-out;
  }
  &--medium{
    padding: 8px 20px;
    font-size: 20px;
    &:hover{
      background: #fff;
      color: #242424;
      transition: all 0.3s ease-out;
    }
  }
  &--large{
    padding: 12px 26px;
    font-size: 20px;
    &:hover{
      background: #fff;
      color: #242424;
      transition: all 0.3s ease-out;
    }
  }

}

